@import url('https://fonts.googleapis.com/css2?family=Gidugu&family=Instrument+Serif:ital@0;1&family=Kurale&family=Limelight&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Instrument Serif", serif;
    box-sizing: border-box;
}

body {
    background-color: #E9D4AF;
}

/* navbar */
nav {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(68, 43, 21, 0.8);
    width: 100%;
    height: 18vh;
}

#navbar-nav {
    background-color: rgba(68, 43, 21, 0.8);
}

.navbar {
    display: grid;
    place-items: center;
    margin: 5vh;
    color: white;
}

.nav-logo {
    font-family: var(--font-sc);
    font-weight: 500;
    font-size: 6vh;
    color: var(--bone);
    text-decoration: none;
}

.navigation {
    display: flex;
    place-items: center;
    line-height: 10px;
}

.navigation .nav-items {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.navigation .nav-items .nav-link {
    list-style: none;
}

.navigation .nav-items .nav-link a {
    font-family: var(--font-sc);
    font-size: 20px;
    text-decoration: none;
    color: var(--floral-white);
    transition: .3s ease;
}

.navigation .nav-items .nav-link a:hover {
    color: var(--bone);
}







/* header&footer */
header {
    background-color: #442b15;
    color: #fff;
    padding: 20px;
    overflow: hidden;
    text-align: left;
}

header span {
    font-size: 45px;
}

nav a {
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header a:hover {
    background-color: #111;
}

footer {
    background-color: #442b15;
    color: #fff;
    padding: 20px 0;
    margin-top: 400px;
}

.contact {
    margin-left: 20px;
    inline-size: none;
}