:root {
    /* FONT */
    --font-pr: "Instrument Sans", sans-serif;
    --font-sc: "Instrument Serif", serif;
}

body {
    font-family: var(--font-pr);
    margin: 0;
    padding: 0;
    background-color: #e9d6b5;
}

header {
    background-color: #442b15;
    color: #fff;
    padding: 20px;
    overflow: hidden;
    text-align: left;
    font-family: var(--font-sc);
    font-weight: 500;
    font-size: 6vh;
    color: var(--bone);
    text-decoration: none;
}

header span {
    font-size: 45px;
}

nav a {
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header a:hover {
    background-color: #111;
}

.back-button {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    float: left;
    font-size: 45px;
}

.borderline{
    margin-left: 20px;
    margin-right: 20px;
    color: #111;
}

.events {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-left: 38px;
    margin-right: 38px;
    margin-bottom: 20px;
    position:relative;
}

.events img{
    max-width: 100%;
    max-height: 100%;
    width: 440px;
    height: 414px;
}

.image-info{
    text-align: left;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0.8%;
    color: white;
    padding: 10px;
    width: 420px;
}

main {
    padding: 20px;
}

.event-container {
    display: flex;
}

.event-container img {
    width: 50%; /* Adjust the width as needed */
}

.event-details {
    background-color: #e9d6b5; /* Details section background color */
    padding: 20px;
    flex: 1; /* Make the details section flexible to fill the remaining space */
}

footer {
    background-color: #442b15;
    color: #fff;
    padding: 20px 0;
}

.contact{
    margin-left: 20px;
    inline-size: none;
}
